.page-header {
    display: block;
}

.page-header .inner {
    height: auto;
}

.page-header .hero {
    background-image:url('/Users/cmaher92/Development_Hub/personal-website/assets/hero.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 250px;
}
